[submodule "public-transport-enabler"]
	path = public-transport-enabler
	url = git@github.com:jendrikw/public-transport-enabler.git
	branch = transitous-ng
[submodule "oeffi-ng.wiki"]
	path = androidstudio/oeffi-ng.wiki
	url = https://github.com/santawho/oeffi-ng.wiki.git
